<h2>Endline QC</h2>
<br>
<div id="endline_qc_div">
    <div class="row">
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(endline_qc[0])" [station_data]="endline_qc[0]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(endline_qc[1])" [station_data]="endline_qc[1]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(endline_qc[2])" [station_data]="endline_qc[2]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(endline_qc[3])" [station_data]="endline_qc[3]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(endline_qc[4])" [station_data]="endline_qc[4]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(endline_qc[5])" [station_data]="endline_qc[5]"></app-panel>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(endline_qc[6])" [station_data]="endline_qc[6]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(endline_qc[7])" [station_data]="endline_qc[7]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(endline_qc[8])" [station_data]="endline_qc[8]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(endline_qc[9])" [station_data]="endline_qc[9]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(endline_qc[10])" [station_data]="endline_qc[10]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(endline_qc[11])" [station_data]="endline_qc[11]"></app-panel>
        </div>
    </div>
</div>