<div class="tab-content" [ngSwitch]="factory">
  <div id="sublime-pane" *ngSwitchCase="'sublime'">
      <app-tab-pane-sublime></app-tab-pane-sublime>
  </div>
  <div id="ananta-pane" *ngSwitchCase="'ananta'">
      <app-tab-pane-ananta></app-tab-pane-ananta>
  </div>
</div>
