<div class="panel">
  <div class="row header">
    <div class="col-sm-3">
      <span [class]="line_data.m_event"></span>
    </div>
    <div class="col-sm-9">
      <span class="header-text">{{ line_data.module }}</span>
    </div>
  </div>
  <div class="row line">
    <span class="line-text">{{ line_data.factory }} - {{ line_data.dpt }}</span>
  </div>
</div>
  
  