<h2>Getup QC</h2>
<br>
<div id="fin_endline_div">
    <div class="row">
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(fin_endline[0])" [station_data]="fin_endline[0]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(fin_endline[1])" [station_data]="fin_endline[1]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(fin_endline[2])" [station_data]="fin_endline[2]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(fin_endline[3])" [station_data]="fin_endline[3]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(fin_endline[4])" [station_data]="fin_endline[4]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(fin_endline[5])" [station_data]="fin_endline[5]"></app-panel>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(fin_endline[6])" [station_data]="fin_endline[6]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(fin_endline[7])" [station_data]="fin_endline[7]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(fin_endline[8])" [station_data]="fin_endline[8]"></app-panel>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2"></div>
    </div>
</div>





