<h2>Sewing</h2>
<br>
<div id="sewing_dept_div">
    <div class="row">
        <div class="col-sm-2">
            <app-member-event-panel [line_data]="sewing_dept[0]"></app-member-event-panel>
        </div>
        <div class="col-sm-2">
            <app-member-event-panel [line_data]="sewing_dept[1]"></app-member-event-panel>
        </div>
        <div class="col-sm-2">
            <app-member-event-panel [line_data]="sewing_dept[2]"></app-member-event-panel>
        </div>
        <div class="col-sm-2">
            <app-member-event-panel [line_data]="sewing_dept[3]"></app-member-event-panel>
        </div>
        <div class="col-sm-2">
            <app-member-event-panel [line_data]="sewing_dept[4]"></app-member-event-panel>
        </div>
        <div class="col-sm-2">
            <app-member-event-panel [line_data]="sewing_dept[5]"></app-member-event-panel>
        </div>
    </div>
</div>



