<h2>Finishing</h2>
<br>
<div id="finishing_dept_div">
    <div class="row">
        <div class="col-sm-2">
            <app-member-event-panel [line_data]="finishing_dept[0]"></app-member-event-panel>
        </div>
        <div class="col-sm-2">
            <app-member-event-panel [line_data]="finishing_dept[1]"></app-member-event-panel>
        </div>
        <div class="col-sm-2">
            <app-member-event-panel [line_data]="finishing_dept[2]"></app-member-event-panel>
        </div>
        <div class="col-sm-2">
            <app-member-event-panel [line_data]="finishing_dept[3]"></app-member-event-panel>
        </div>
        <div class="col-sm-2">
            <app-member-event-panel [line_data]="finishing_dept[4]"></app-member-event-panel>
        </div>
        <div class="col-sm-2">
            <app-member-event-panel [line_data]="finishing_dept[5]"></app-member-event-panel>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <app-member-event-panel [line_data]="finishing_dept[6]"></app-member-event-panel>
        </div>
        <div class="col-sm-2">
            <app-member-event-panel [line_data]="finishing_dept[7]"></app-member-event-panel>
        </div>
        <div class="col-sm-2">
            <app-member-event-panel [line_data]="finishing_dept[8]"></app-member-event-panel>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2"></div>
    </div>
</div>



