
<div class="wrapper">
    <form class="text-center form-signin" (submit)="onLoginSubmit()">
        <img src="ncinga-logo.png">
        <h4 class="form-signin-heading text-center">nFactory Production Monitoring</h4>
        <input type="text" class="form-control" [(ngModel)]="username" name="username" id="userInputUsername" placeholder="Username" required="" autofocus="" />
        <input type="password" class="form-control" [(ngModel)]="password" name="password" id="userInputPassword" placeholder="Password" required=""/>      

        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>   
    </form>
</div>