<div class="container">
  <div class="col-md-6">
      <app-factory-selection></app-factory-selection>
  </div>
  <div class="col-md-6">
      <div class="col-sm-6">
          <input #date type="date" (change)="setEventDate(date.value)">
      </div>
      <div class="col-sm-6">
          <input type="text" placeholder="Filter...">
      </div>
  </div>
</div>

<hr>

<app-member-event-pane [line_array]="line_array"></app-member-event-pane>
