#factory_selection_btn_1 {
    /* padding-right: 15px;
    padding-left: 15px; */
    width: auto;
}

#factory_selection_btn_2 {
    padding-right: 15px;
    padding-left: 15px;
    width: auto;
}

#factory_id {
    background-color: #81c784;
    text-align: center;
}

#first_name {
    background-color: #ffb74d;
    text-align: center;
}

h3 {
    margin-top: 10%;
    margin-bottom: 10%;
}