<div class="container">
    <div class="row">
        <app-line-in [subject_array]="subject_array"></app-line-in>
    </div>
    <div class="row">
        <app-sew-inline [subject_array]="subject_array"></app-sew-inline>
    </div>
    <!-- <div class="row">
        <app-line-in2 [subject_array]="subject_array"></app-line-in2>
    </div> -->
    <div class="row">
        <app-endline-qc [subject_array]="subject_array"></app-endline-qc>
    </div>
    <div class="row">
        <app-sewing-aql [subject_array]="subject_array"></app-sewing-aql>
    </div>
    <div class="row">
        <app-fin-inline [subject_array]="subject_array"></app-fin-inline>
    </div>
    <div class="row">
        <app-fin-endline [subject_array]="subject_array"></app-fin-endline>
    </div>
    <div class="row">
        <app-fin-aql [subject_array]="subject_array"></app-fin-aql>
    </div>
</div>