<div class="container">
  <h3>Time Event Monitoring</h3>
  <hr>
  <div class="col-md-8">
    <div *ngIf="indexes" class="col-sm-6">
      <label for="time_event_index_selection">Index :</label>
      <select [(ngModel)]="selected_index" class="form-control lines" id="time_event_index_selection" (change)="onChangeSwitchIndex()">
          <option value="" disabled>Select a Index</option>
          <option *ngFor='let index of indexes'>
            {{ index }}
          </option>
      </select>
    </div>
    <div *ngIf="subjects" class="col-sm-6">
      <label for="time_event_line_selection">Subject :</label>
      <select [(ngModel)]="selected_subject" class="form-control lines" id="time_event_line_selection" (change)="onChangeSwitchSubject()">
          <option value="" disabled>Select a Index</option>
          <option *ngFor='let subject of subjects'>
            {{ subject }}
          </option>
      </select>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>