<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Daily Production Monitoring</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a [routerLinkActive]="['active']" [routerLink]="['/first_event']">First Event</a></li>
      <li><a [routerLinkActive]="['active']" [routerLink]="['/time_event']">Time Event</a></li>
      <li><a [routerLinkActive]="['active']" [routerLink]="['/member_event']">Member Event</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a [routerLinkActive]="['active']" [routerLink]="['/']">LogOut</a></li>
    </ul>
  </div>
</nav>
  
