.navbar {
    border-radius: 0;
    font-family: 'Roboto';
    background-color: #fafafa;
    border-color: #fafafa;
}

.navbar-brand {
    color: #000000;
}

.navbar-brand:hover {
    color: #000000;
}

li:hover {
    background-color: #bdbdbd;
}