<h2>Sewing AQL</h2>
<br>
<div class="row">
    <div class="col-sm-2">
        <app-panel (click)="onSelectStation(sew_aql[0])" [station_data]="sew_aql[0]"></app-panel>
    </div>
    <div class="col-sm-2">
        <app-panel (click)="onSelectStation(sew_aql[1])" [station_data]="sew_aql[1]"></app-panel>
    </div>
    <div class="col-sm-2">
        <app-panel (click)="onSelectStation(sew_aql[2])" [station_data]="sew_aql[2]"></app-panel>
    </div>
    <div class="col-sm-2">
        <app-panel (click)="onSelectStation(sew_aql[3])" [station_data]="sew_aql[3]"></app-panel>
    </div>
    <div class="col-sm-2">
        <app-panel (click)="onSelectStation(sew_aql[4])" [station_data]="sew_aql[4]"></app-panel>
    </div>
    <div class="col-sm-2">
        <app-panel (click)="onSelectStation(sew_aql[5])" [station_data]="sew_aql[5]"></app-panel>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <app-panel (click)="onSelectStation(sew_aql[6])" [station_data]="sew_aql[6]"></app-panel>
    </div>
    <div class="col-sm-2">
        <app-panel (click)="onSelectStation(sew_aql[7])" [station_data]="sew_aql[7]"></app-panel>
    </div>
    <div class="col-sm-2">
        <app-panel (click)="onSelectStation(sew_aql[8])" [station_data]="sew_aql[8]"></app-panel>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-2"></div>
    <div class="col-sm-2"></div>
</div>
