<h2>Assembly point</h2>
<br>
<div id="line_in_2_div">
    <div class="row">
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(line_in_2[0])" [station_data]="line_in_2[0]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(line_in_2[1])" [station_data]="line_in_2[1]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(line_in_2[2])" [station_data]="line_in_2[2]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(line_in_2[3])" [station_data]="line_in_2[3]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(line_in_2[4])" [station_data]="line_in_2[4]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(line_in_2[5])" [station_data]="line_in_2[5]"></app-panel>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(line_in_2[6])" [station_data]="line_in_2[6]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(line_in_2[7])" [station_data]="line_in_2[7]"></app-panel>
        </div>
        <div class="col-sm-2">
            <app-panel (click)="onSelectStation(line_in_2[8])" [station_data]="line_in_2[8]"></app-panel>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2"></div>
    </div>
</div>