<div class="col-lg-12">
  <div [ngSwitch]="selected_factory" class="container">
    <div *ngSwitchCase="'aal-aepz'" class="row">
      <app-sewing-dept [line_array]="line_array"></app-sewing-dept>
    </div>
    <div *ngSwitchCase="'aal-aepz'" class="row">
      <app-finishing-dept [line_array]="line_array"></app-finishing-dept>
    </div>
    <div *ngSwitchCase="'sgt'" class="row">
      <app-sewing-dept-sublime [line_array]="line_array"></app-sewing-dept-sublime>
    </div>
  </div>
</div>
